/* Filter container styles */
.filters-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  animation: fadeInBottom 1s ease-in-out;
  justify-content: center;
}

/* Individual filter styles */
.filter {
  background-color: var(--clr-accent-opacity);
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(3px); /* Apply backdrop blur effect (Safari) */
  backdrop-filter: blur(3px);
  transition: all 0.2s ease-in-out;
}

/* Hover effect for filters */
.filter:hover {
  cursor: pointer;
  transform: scale(110%);
}

/* Text within filters */
.filter p {
  font-size: clamp(1rem, 1vw, var(--buttons-font-size));
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .filter {
    padding: 1% 2%;
  }
}
