/* Styling for the hero section */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Styling for the hero image container */
#hero-img {
  width: 100%;
  height: 100%;
}

/* Applying styles to the hero image */
#hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: imageFadeIn 2.8s ease;
}

/* Styling for the hero text */
.hero-text {
  position: absolute;
  bottom: 5%;
  left: 4%;
  color: var(--clr-light);
}

/* Styling for the hero text heading */
.hero-text h1 {
  font-weight: var(--font-weight-200);
  font-size: clamp(3.1rem, 10vw, var(--main-heading-font-size));
  max-width: 15ch;
  animation-name: fadeInBottom;
  animation-duration: 1.7s;
  animation-fill-mode: both;
}

/* Main styling for content centering */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for divider */
.divider {
  margin-top: 3rem;
}

/* Styling for titles */
.title {
  color: var(--clr-light);
  font-size: var(--heading-font-size);
  font-weight: var(--font-weight-200);
}

/* Styling for cards */
.card {
  display: flex;
  width: clamp(20rem, 90vw, 70rem);
  color: var(--clr-light);
  gap: 3rem;
  justify-content: center;
  border: 1px solid var(--clr-dark);
  border-radius: 10px;
  align-items: center;
  background-color: var(--clr-grey-opacity);
  padding: 1.5rem 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: all 0.3s ease-in-out;
}

/* Styling for card images */
.card__img {
  height: clamp(100px, 70vw, 450px);
  width: clamp(100px, 70vw, 600px);
  overflow: hidden;
  border-radius: 10px;
}

/* Styling for card image content */
.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
}

/* Styling for card descriptions */
.card__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for card description text */
.card__description__text {
  font-weight: var(--font-weight-200);
}

/* Styling for card description lists */
.card__description__text ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  font-size: clamp(0.6rem, 3vw, var(--paragraph-font-size));
}

/* Styling for card description headings */
.card__description__text h1 {
  font-size: clamp(1.3rem, 5vw, var(--small-heading-font-size));
  font-weight: var(--font-weight-200);
}

/* Styling for card descriptions (mobile) */
@media screen and (max-width: 1024px) {
  #hero-img img {
    object-fit: cover;
    object-position: 60% 0%;
  }
}

/* Responsive styling for cards (tablet) */
@media screen and (max-width: 984px) {
  .card {
    flex-direction: column;
    width: 90%;
    padding: 5% 2%;
    gap: 1em;
  }
  .card__description {
    width: 90%;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .card__img {
    width: 90%;
    height: 60%;
  }
}

/* Styling for hero image (mobile) */
@media screen and (max-width: 768px) {
  #hero-img img {
    object-fit: cover;
    object-position: 80% 0%;
  }
}
