:root{
  --paragraph-font-size: 1rem;
  --small-heading-font-size: 2rem;
  --heading-font-size: 4rem;
  --main-heading-font-size: 6rem;
  --buttons-font-size: 1.25rem;

  --font-weight-500: 500;
  --font-weight-400: 400;
  --font-weight-300: 300;
  --font-weight-200: 200;

  --clr-dark: #041129;
  --clr-accent: #5f358d;
  --clr-accent-dark: #211652;
  --clr-accent-opacity: #bd8de07f;
  --clr-accent-opacity-light: #ca9efa;
  --clr-light: #FEFBF3;
  --clr-grey: #232a37;

  --description-gap: 1.25rem;
}
*::-webkit-scrollbar {
  background: var(--clr-light);
  border-radius: 10px;
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px var(--clr-accent);
}
::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  border-radius: 10px;
}
*{
  font-family: 'Poppins', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,*:focus,*:hover{
  outline:none;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role='list']{
  list-style: none;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration: none;
}
html{

}

/* @font-face {
  font-family: 'poppinsBold';
  src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('../fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsLight';
  src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
       url('../fonts/poppins-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsMedium';
  src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
       url('../fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsRegular';
  src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
       url('../fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsSemiBold';
  src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
       url('../fonts/poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

} */