/* Styling for the main navigation */
#main-navigation {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-left: 4rem;
  display: flex;
  gap: 3rem;
  animation-name: fadeInTop;
  animation-duration: 1.7s;
  animation-fill-mode: both;
}

/* Styling for navigation */
nav {
  padding-top: 0.3rem;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Styling for header */
header {
  width: 100%;
}

/* Styling for navigation elements */
.navigation__element a {
  color: var(--clr-light);
  font-weight: var(--font-weight-300);
  transition: all 0.2s ease-in-out;
}

/* Styling for navigation element hover */
.navigation__element a:hover {
  color: var(--clr-accent-opacity-light);
}

/* Styling for navigation icons */
.navigation .icon .hamburger-menu,
.navigation .icon .cross-menu {
  display: none;
}

/* Responsive styling for navigation (tablet) */
@media screen and (max-width: 768px) {
  .navigation li:not(.hamburger) {
    display: none;
  }
  .navigation .icon {
    width: clamp(50px, 15%, 70px);
    float: right;
  }
  .navigation .icon .hamburger-menu {
    display: block;
  }

  #main-navigation {
    padding-left: 0;
  }

  .navigation.responsive {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    background-color: var(--clr-grey);
    backdrop-filter: blur(3px);
    padding: 1rem 1rem 0 1rem;
  }
  .navigation.responsive .hamburger-menu {
    display: none;
  }
  .navigation.responsive .cross-menu {
    width: clamp(50px, 15%, 70px);
    display: inline;
    position: absolute;
    right: 4%;
    top: 1%;
  }
  .navigation.responsive li {
    display: block;
    text-align: left;
  }

  .footer__links {
    flex-direction: column;
    text-align: center;
  }
  .footer {
    justify-content: center;
  }
}

/* Styling for the footer */
footer {
  margin-top: 2rem;
  position: relative;
  width: 100%;
  z-index: 3;
}

/* Styling for the footer container */
.footer {
  background-color: var(--clr-grey-opacity);
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

/* Styling for footer links */
.footer__links {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

/* Styling for footer link text */
.footer__links a {
  color: var(--clr-light);
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-weight: var(--font-weight-200);
  transition: all 0.2s ease-in-out;
}

/* Styling for footer link hover */
.footer__links a:hover {
  color: var(--clr-accent-opacity-light);
}

/* Styling for footer headings */
.footer h3 {
  font-weight: var(--font-weight-300);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

/* Styling for footer paragraphs */
.footer p {
  font-weight: var(--font-weight-200);
}
