body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 100%;
  max-width: 1440px;
  position: relative;
  z-index: 3;
}
nav {
  position: relative;
}
#main-navigation {
  position: relative;
  align-self: start;
}
.main-header {
  text-align: center;
  font-weight: var(--font-weight-200);
}
#questions-answers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.report-section {
  background-color: var(--clr-accent-opacity);
  padding: 1rem;
  border-radius: 5px;
  font-size: clamp(0.8rem, 1vw, 1.25rem);
  font-weight: var(--font-weight-200);
}
.report-section__name {
  font-size: clamp(2rem, 10vw, var(--heading-font-size));
  font-weight: var(--font-weight-200);
}
.report-section__answers {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.report-section__answers a {
  color: var(--clr-light);
  text-decoration: underline;
  font-weight: var(--font-weight-400);
}
.images {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.image-section {
  margin-bottom: 3rem;
}
.images img {
  object-fit: contain;
  align-self: flex-start;
  max-width: 950px;
}
