body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
  width: 1440px;
  max-width: 1440px;
  position: relative;
  z-index: 3;
}
#main-navigation{
  position: relative;

  position: relative;
  align-self: start;
}
#tools-section h1{
  text-align: center;
  animation: fadeInBottom 1s ease-in-out;
}
.filters-wrapper{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  animation: fadeInBottom 1s ease-in-out;
}
.filter{
  background-color: var(--clr-accent-opacity);
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  backdrop-filter: blur(3px);

  transition: all 0.2s ease-in-out;
}
.filter:hover{
  cursor: pointer;
  transform: scale(110%);
}
.filter p{
  font-size: var(--buttons-font-size);
}
.tools-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.tools-wrapper:nth-child(-n+3){
  animation: fadeInBottom 1s ease-in-out;
}
.tool{
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-grey);
  border-radius: 5px;
  padding: 1rem;
}
.tool__image{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.tool__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}
.tool__description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  gap: 1rem;
}
.tool__description h3, 
.tool__description h4{
  color: var(--clr-accent-opacity-light)
}
.tags{
  margin-top: 0.5rem;
  display: flex;
  gap: 10px
}
.tags__tag{
  background-color: var(--clr-accent-opacity);
  padding: 0.3rem 1rem;
  font-size: var(--small-font-size);
  border-radius: 5px;

  transition: all 0.2s ease-in-out;
}
.tool:hover{
  .tool__image img{
    transform: scale(110%);
  }
  cursor: pointer;
}
.tags__tag:hover{
  background-color: var(--clr-accent-opacity-light);
}
.fadeInBoottom{
  animation: fadeInBottom 1s ease-in-out;
}